*{
	margin: 0px;
	padding: 0px;
}
html{
	font-size: 20px;
}
#div{
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
#begin{
	margin-top: -webkit-calc(50vh - 10rem);
	margin-top: -moz-calc(50vh - 10rem);
	margin-top: calc(50vh - 10rem);
	max-width: 18rem;
	width: -webkit-calc(75% - 10px);
	width: -moz-calc(75% - 10px);
	width: calc(75% - 10px);
	height: 20rem;
	background: #efefef;
	border: 1px solid #ccc;
	-moz-border-radius: 0.75rem;
	-o-border-radius: 0.75rem;
	border-radius: 0.75rem;
	box-shadow: 0.1rem 0.2rem 0.15rem rgba(200,200,200,.4);
}
h1{
	text-align: center;
	color: #393939;
	font-size: 1.5rem;
	font-family: 微软雅黑;
	margin: 2rem 0;
}
p{
	text-align: lift;
	color: #393939;
	font-size: 1rem;
	font-family: 微软雅黑;
	line-height: 1.5rem;
	margin: 2.5rem;
}
#input{
	margin: 0 50%;
	padding: 3rem 0;
}
input{
	text-align: center;
	color: #393939;
	font-size: 1rem;
	font-family: 微软雅黑;
	width: 6rem;
	height: 2rem;
	margin: 0 -3rem;
	cursor: pointer;
	background: #74c7dc;
	border: 0.05rem solid #ccc;
	-moz-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.2rem 0.15rem rgba(200,200,200,.4);
}
input:hover{
	color: #797979;
	background: #82d5e5;
	border: 0rem;
}
#canvas{
	background: #efefef;
	display: none;
	margin: 0 auto;
}