@media (min-width: 960px) {
  .page .article-list:not(.article-pagination) .article-item:first-child,
  .page .article-list:not(.article-pagination) .article-item:last-child {
    --vp-posts-span: 6;
    --vp-posts-direction: row;
    --vp-posts-height: 15rem;
  }
  .page .article-list .article-item:nth-child(5),
  .page .article-list .article-item:nth-child(6),
  .page .article-list .article-item:nth-child(10),
  .page .article-list .article-item:nth-child(11) {
    --vp-posts-span: 3;
  }
}
